<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meadowlark Travel</title>
    <style>
        body{
            display: block;
            text-align: center;
            background-color: lightblue;
            margin-top: auto;
        }
    </style>
</head>
<body>
    <header>
        <img src="/img/tiger.png" alt="Meadowlark Travel Logo" height="10%" width="10%">
    </header>
    {{{body}}}
</body>
</html>